[project]
	description = FWB
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yashar Ahmedizade (yashade2001)
[access "refs/for/refs/*"]
	read = group user/Yashar Ahmedizade (yashade2001)
	push = group user/Yashar Ahmedizade (yashade2001)
	label-Code-Review = -2..+2 group user/Yashar Ahmedizade (yashade2001)
	label-Verified = -1..+1 group user/Yashar Ahmedizade (yashade2001)
	rebase = group user/Yashar Ahmedizade (yashade2001)
	removeReviewer = group user/Yashar Ahmedizade (yashade2001)
	submit = group user/Yashar Ahmedizade (yashade2001)
[access "refs/heads/*"]
	read = group user/Yashar Ahmedizade (yashade2001)
	create = group user/Yashar Ahmedizade (yashade2001)
	push = +force group user/Yashar Ahmedizade (yashade2001)
	pushMerge = group user/Yashar Ahmedizade (yashade2001)
[access "refs/tags/*"]
	push = +force group user/Yashar Ahmedizade (yashade2001)
	pushTag = group user/Yashar Ahmedizade (yashade2001)
	pushSignedTag = group user/Yashar Ahmedizade (yashade2001)
